@charset "UTF-8";

@font-face {
  font-family: 'Grossa';
  src: url('/fonte/Groteskly\ Yours\ -\ Okta\ Neue\ Black\ Italic.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Fina';
  src: url('/fonte/Groteskly\ Yours\ -\ Okta\ Neue\ UltraLight.otf');
  font-weight: normal;
}

:root { 
  --cor0: rgb(0, 0, 0);
  --cor1: rgb(0, 0, 0);
  --cor2: rgb(0, 0, 0);
  --cor3: rgb(0, 0, 0);
  --cor4: rgba(99, 97, 97, 0.548);
  --cor5: rgb(255, 255, 255);

  --fonte-padrão: 'Grossa'; 
  --fonte-delicada: 'Fina';
}

* { 
  margin: 0px;
  padding: 0px;
}

header { 
  background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
  text-align: left;
  padding: 15px;
  min-height: 15px;
}

header > h1 { 
  color: rgb(3, 1, 19);
  font-family: var(--fonte-padrão);
  text-shadow: 2px 2px 0px #0000003a;
  display: inline;
}

header > p { 
  font-family: var(--fonte-delicada);
  display: inline;
  color: white;
}

nav { 
  background-color: var(--cor0);
  padding: 0px 10px 17px 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a { 
  color: var(--cor5);
  font-family: var(--fonte-delicada);
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition-duration: 0.5s;
}

nav > a:hover { 
  background-color: var(--cor4);
}

main { 
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
  margin-bottom: 30px;
  border-radius: 0px 0px 10px 10px;
}

main p { 
  margin: 15px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
  font-size: 1em;
}

main h1 { 
  color: var(--cor1);
  font-family: var(--fonte-padrão);
  font-weight: normal;
  font-size: 1.8em;
}

main h2 { 
  color: var(--cor1);
  font-family: var(--fonte-padrão);
  font-weight: normal;
  font-size: 1.8em;
}

main strong {
  color: var(--cor4);
  font-weight: bold;
}

main a { 
  text-decoration: none;
  font-weight: bold;
  color: var(--cor4);
  background-color: darkblue;
  padding: 2px 6px;
}

main a:hover { 
  text-decoration: underline;
  color: blue;
}

main > article > picture > img { 
  width: 100%;
}